.dialog-contain {
  display: flex;
  flex-direction: row;
}
.image-video {
  width: 300px;
  height: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-button-group {
  width: 380px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.download-button-dialog {
  background-color: #2e86c1;
  color: white;
  width: 100%;
  height: 40px;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  border-radius: 5px 16px 5px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.circle-span {
  background-color: white;
  border-radius: 10px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  font-weight: 400;
  padding: 0px 10px;
}

.paper-dialog-contain {
  min-height: 350px;
  min-width: 600px;
  border-radius: 16px;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 550px) {
  .dialog-contain  {
    flex-direction: column;
  }
  .paper-dialog-contain {
    min-width: 90%;
    flex-direction: column;
  }
  .image-video {
    width: 100%;
  }
  .download-button-group {
    width: 90%;
  }
  .download-button-dialog {
    font-size: 16px;
    line-height: 20px;
  }
}

