.download-contain {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #195fd7;
  padding-top: 78px;
}

.title-text {
  font-size: 48px;
  line-height: 68px;
  font-weight: 600;
  color: white;
  margin-bottom: 6px;
}

.description-text {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: white;
}

.input-contain {
  margin: 32px 0px 78px 0px;
  display: flex;
  gap: 6px;
  flex-direction: row;
}

.download-input {
  display: flex;
}

.link-contain {
  height: 50px;
  width: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  height: 50px;
  width: 500px;
  border: none;
  font-size: 1rem;
}

.paste-button-contain {
  width: 80px;
  height: 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-button-contain {
  width: 80px;
  height: 50px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paste-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 8px;
  gap: 4px;
  background: #dae4ff;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #0423ee;
  margin-right: 6px;
  cursor: pointer;
}

.clear-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 8px;
  gap: 4px;
  background: #49495acf;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-right: 6px;
  cursor: pointer;
}

.download-button {
  padding: 12px;
  gap: 10px;
  background: #00be63;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  width: 145px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.loader {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 550px) {
  input  {
    width: 100%;
  }
  .input-contain {
    flex-direction: column;
  }
  .download-button {
    width: 100%;
  }
  .title-text {
    text-align: center;
  }
}
