.footer-contain {
  padding: 0px 12px;
  padding-top: 16px;
  border-top: 1px solid #00000021;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.footer-left-text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #6c757d;
}

.footer-right-contain {
  display: flex;
  gap: 32px;
}

.footer-right-text {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #2e2e30;
  text-align: center;
  text-decoration: none;
}