.container-header {
  width: 100%;
  padding: 9px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.font-logo {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.flex-contain {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
}

.contain-layout {
  cursor: pointer;
  background: #e8e8f1;
  padding: 6px;
  border-radius: 50%;
}

.night-layout {
  width: 20px;
  height: 20px;
}

.light-layout {
  width: 20px;
  height: 20px;
}

.language-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #16161d;
}

.language-contain-select {
  border: rgb(0,0,0,0.175) solid 1px;
  border-radius: 0.375rem;
  background-color: #fff;
  padding: 0.5rem 0;
  width: 320px;
  display: flex;
}

.language-item {
  color: '#212529';
  text-align: left;
  width: 50%;
  padding: 0.25rem 1rem;
  cursor: pointer;
}