li {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 20px;
}

.information-contain {
  width: calc(100% - 90px);
  padding-top: 20px;
  margin: auto;
}

.information-title-text {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 600;
  color: #000000;
}

.information-description-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #000000;
}

.key-feature-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
}

.note-text {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #212529;
  margin: 0px;
  padding: 16px 0px;
}